version=0.18.0

align-cases
align-constructors-decl
align-variants-decl
assignment-operator=end-line

break-before-in=fit-or-vertical
break-cases=all
break-collection-expressions=fit-or-vertical
break-fun-decl=wrap
break-fun-sig=wrap
break-infix=fit-or-vertical
break-infix-before-func
break-separators=after
break-sequences=true
break-string-literals=never
break-struct=force

cases-exp-indent=2
cases-matching-exp-indent=normal

disable=false
disambiguate-non-breaking-match=true
dock-collection-brackets=true

field-space=loose
function-indent=0
function-indent-nested=always

if-then-else=keyword-first
indent-after-in=0
indicate-multiline-delimiters=closing-on-separate-line
indicate-nested-or-patterns=unsafe-no

leading-nested-match-parens=false
let-and=sparse
let-binding-indent=3
let-binding-spacing=compact

margin=80
match-indent=0
match-indent-nested=never
module-item-spacing=sparse

parens-ite=true
parens-tuple=always
parens-tuple-patterns=always


sequence-blank-line=compact
sequence-style=terminator

space-around-records
space-around-lists
space-around-arrays

type-decl=sparse
type-decl-indent=2

wrap-comments=false
